# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

*.iobj
*.ipdb
*.pdb

Crypt/EncryptProject/Release/
Crypt/EncryptProject/Debug/
Crypt/DecryptProject/Release/
Crypt/DecryptProject/Debug/
Crypt/.vs/